body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  margin-bottom: 10px;
}

select, button {
  padding: 10px;
  font-size: 1em;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

#face {
  font-size: 100px;
  transition: all 0.5s ease;
  margin-top: 50px;
  cursor: pointer;
}

.timer {
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
}
